form {
  background-color: white;
  padding: 20px;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

input, textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1em;
}
